.container * {
    box-sizing: border-box;
}

.mobile {
    display: none;
}

.container {
    position: absolute;
    width: 100vw;
    margin: auto;
    min-height: 5134px;
    background-color: #F1F1F1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    background-color: #fff;
    border-bottom: 1px solid #E1E1E1;
    z-index: 10;
}

ul {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

.nav-align {
    position: relative;
    width: 1140px;
    height: 100%;
    margin: auto;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 317px;
    color: #3C3C3C;
}

.top-left > ul {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 11px;
}

.top-left li {
    letter-spacing: 1px;
}

.home {
    width: 62px;
}

.portfolio {
    width: 108px;
}

.about-me {
    width: 89px;
}

.contact {
    width: 60px;
}

.top-right {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 100%;
    min-width: 153px;
    color: #999;
}

.top-right > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 13px;
}

.top-right .fa-facebook-f {
    width: 20px;
}

.top-right .fa-google-plus-g {
    width: 36px;
}

.top-right .fa-pinterest {
    width: 26px;
}

.top-right .fa-instagram {
    width: 26px;
}

.top-right .fa-twitter {
    width: 26px;
}

.top-right .fa-facebook-f {
    width: 26px;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    width: 1142px;
    margin: auto;
    margin-top: 111px;
    height: 4880px;
}

main > article {
    background-color: #fff;
    position: relative;
    width: 752px;
    min-height: fit-content;
    margin-bottom: 48px;
    border: 1px solid #E5E5E5;
    border-radius: 1px;
}

main > article:nth-child(2) > img {
    width: 750px;
    height: 472px;
}

main > article > .content {
    position: relative;
    width: 670px;
    height: fit-content;
    margin: 41px auto;
}

main > article > .content > h3 {
    position: relative;
    display: block;
    margin: 0px auto;
    width: fit-content;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1px;
    color: #CF3D25;
}

main > article > .content > h2 {
    position: relative;
    display: block;
    margin: 13px auto 0;
    width: fit-content;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    color: #343434;
    letter-spacing: 0.5px;
}

main > article > .content > p {
    position: relative;
    display: block;
    margin: 25px auto 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.67;
    color: #343434;
}

button {
    position: relative;
    display: block;
    margin: 35px auto 0;
    width: 172px;
    height: 38px;
    background-color: transparent;
    border: 1px solid #CF3D25;
    color: #CF3D25;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 0 1px 0;
}

main > article footer {
    position: relative;
    width: 100%;
    height: 20px;
    margin: 40px auto 0;
    padding-top: 20px;
    padding-bottom: 23px;
    border-top: 1px solid #ECECEC;
}

main > article footer p {
    position: absolute;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: #959595;
    margin: 0;
    top: 19px;
}

main > article footer nav {
    position: absolute;
    top: 23px;
    right: 0px;
    width: 139px;
    color: #B5B5B5;
}

main > article footer ul {
    display: flex;
    justify-content: space-between;
}

main > aside {
    background-color: #fff;
    position: relative;
    width: 362px;
    border: 1px solid #E5E5E5;
    border-radius: 1px;
    box-shadow: 0 0 1px 1px #ECECEC;
    margin-bottom: 38px;
}

.author {
    position: relative;
    height: fit-content;
    padding-bottom: 45px;
}

.background {
    position: relative;
}

.portrait {
    position: absolute;
    top: 99px;
    right: 88px;
    border-radius: 50%;
    border: 6px solid #fff;
    margin: auto;
} 

.author > h4 {
    position: relative;
    display: block;
    width: fit-content;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 18.5px;
    letter-spacing: 0.3px;
    margin: 105px auto 0;
}

.author > p {
    position: relative;
    display: block;
    width: 80%;
    text-align: center;
    margin: 21px auto 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.67;
    color: #343434;
}

.author ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 185px;
    margin: 23px auto 0 82px;
}

.author li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #9A9A9A;
}

.author i {
    font-size: 13px;
}

.popular-posts {
    height: 984px;
}

.popular-posts > h4 {
    position: relative;
    display: block;
    width: fit-content;
    margin: 34px auto 0;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 18.5px;
    letter-spacing: 0.3px;
}

.latest-posts {
    height: 516px;
}
.instagram-feed {
    height: 596px;
}

.bottom-images {
    position: relative;
    background-color: orange;
    height: 189px;
}

.container > footer {
    position: relative;
    background-color: purple;
    height: 65px;
}

@media (max-width: 1140px) {
    .container {
        height: 7862px;
    }
    
    .nav-align {
        width: 90%;
    }

    main {
        width: 90%;
        height: 100%;
    }
}

@media (max-width: 600px) {
    header {
        height: 52px;
    }

    .nav-align {
        display: none;
    }

    .mobile {
        /* check other mobile elements for display block */
        display: block;
    }

    .fa-bars {
        position: absolute;
        top: 18px;
        right: 46px;
        transform: scale3d(1.58, 1.15, 1);
        color: #757575;
    }

    main {
        margin-top: 101px;
        width: 472px;
    }

    main > article {
        width: 100%;
        min-height: fit-content;
        margin-bottom: 49px;
    }

    main > article > img {
        width: 100%;
    }

    main > article:nth-child(2) > img {
        height: 296px;
        width: 100%;
    }

    main > article > .content {
        width: 390px;
        height: fit-content;
        margin: 41px auto;
    }

    main > article > .content > h2 {
        font-size: 21px;
    }

    main > article > .content > p {
        line-height: 1.66;
    }

    .author {
        width: 100%;
    }

    .background {
        width: 470px;
        top: -2px;
    }

    .portrait {
        top: 106.5px;
        right: 143.5px;
    }

    .author > h4 {
        margin: 56px auto 0;
    }

    .author > p {
        margin: 20.5px auto 0;
        width: 92%;
    }

    .author ul {
        margin: 23px auto 0 137px;
    }

}