.container * {
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 100vw;
    margin: auto;
    height: 5134px;
    background-color: #F1F1F1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    background-color: #fff;
    border-bottom: 1px solid #E1E1E1;
    z-index: 10;
}

ul {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

.nav-align {
    position: relative;
    width: 1140px;
    height: 100%;
    margin: auto;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 317px;
    color: #3C3C3C;
}

.top-left > ul {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 11px;
}

.top-left li {
    letter-spacing: 1px;
}

.home {
    width: 62px;
}

.portfolio {
    width: 108px;
}

.about-me {
    width: 89px;
}

.contact {
    width: 60px;
}

.top-right {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 100%;
    min-width: 153px;
    color: #999;
}

.top-right > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 13px;
}

.top-right .fa-facebook-f {
    width: 20px;
}

.top-right .fa-google-plus-g {
    width: 36px;
}

.top-right .fa-pinterest {
    width: 26px;
}

.top-right .fa-instagram {
    width: 26px;
}

.top-right .fa-twitter {
    width: 26px;
}

.top-right .fa-facebook-f {
    width: 26px;
}

main {
    /* background: yellow; */
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    width: 1142px;
    margin: auto;
    margin-top: 111px;
    height: 4880px;
}

main > article {
    /* background-color: green; */
    background-color: #fff;
    position: relative;
    width: 752px;
    min-height: 922px;
    margin-bottom: 48px;
    border: 1px solid #E5E5E5;
    border-radius: 1px;
}

main > article:nth-child(2) {
    min-height: 921px;
}

main > article:nth-child(2) > .content {
    margin: 40px auto 41px;
}


main > article > .content {
    position: relative;
    width: 670px;
    height: 360px;
    margin: 41px auto;
}

main > article > .content > h3 {
    position: relative;
    display: block;
    margin: 0px auto;
    width: fit-content;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1px;
    color: #CF3D25;
}

main > article > .content > h2 {
    position: relative;
    display: block;
    margin: 13px auto 0;
    width: fit-content;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    color: #343434;
    letter-spacing: 0.5px;
}

main > article > .content > p {
    position: relative;
    display: block;
    margin: 25px auto 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 15px;
    line-height: 1.67;
    color: #343434;
}

button {
    position: relative;
    display: block;
    margin: 35px auto 0;
    width: 172px;
    height: 38px;
    background-color: transparent;
    border: 1px solid #CF3D25;
    color: #CF3D25;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 0 1px 0;
}

main > article > .content::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    bottom: 42px;
    border-top: 1px solid #ECECEC;
}

main > article footer p {
    position: absolute;
    bottom: 8px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: #959595;
    margin: 0;
}

.article-bottom-icons {
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 139px;
    color: #B5B5B5;
}

.article-bottom-icons > ul {
    display: flex;
    justify-content: space-between;
}

main > aside {
    background-color: aqua;
    position: relative;
    width: 362px;
    border: 1px solid #E5E5E5;
    border-radius: 1px;
    box-shadow: 0 0 1px 1px #ECECEC;
    margin-bottom: 38px;
}

.author {
    height: 510px;
}

.popular-posts {
    height: 984px;
}
.latest-posts {
    height: 516px;
}
.instagram-feed {
    height: 596px;
}



.bottom-images {
    position: relative;
    background-color: orange;
    height: 189px;
}

.container > footer {
    position: relative;
    background-color: purple;
    height: 65px;
}