.container * {
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 100vw;
    margin: auto;
    height: 5134px;
    background-color: #F1F1F1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    background-color: #fff;
    border-bottom: 1px solid #E1E1E1;
    z-index: 10;
}

ul {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

li {
    list-style-type: none;
}

.nav-align {
    position: relative;
    width: 1140px;
    height: 100%;
    margin: auto;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 317px;
    color: #3C3C3C;
}

.top-left > ul {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 11px;
}

.top-left li {
    letter-spacing: 1px;
}

.home {
    width: 62px;
}

.portfolio {
    width: 108px;
}

.about-me {
    width: 89px;
}

.contact {
    width: 60px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 160px;
    color: #999;
}

.top-right > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    font-size: 13px;
}

.top-right .fa-magnifying-glass {
    width: 14px;
}

.top-right .fa-google-plus-g {
    width: 36px;
}

.top-right .fa-pinterest {
    width: 26px;
}

.top-right .fa-instagram {
    width: 26px;
}

.top-right .fa-twitter {
    width: 26px;
}

.top-right .fa-facebook-f {
    width: 26px;
}

main {
    /* background: yellow; */
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    width: 1142px;
    margin: auto;
    margin-top: 111px;
    height: 4880px;
}

main > article {
    background-color: green;
    position: relative;
    width: 752px;
    min-height: 922px;
    margin-bottom: 48px;
    border: 1px solid #E5E5E5;
    border-radius: 1px;
}

main > article:nth-child(2) {
    min-height: 921px;
}

main > aside {
    background-color: aqua;
    position: relative;
    width: 362px;
    border: 1px solid #E5E5E5;
    border-radius: 1px;
    box-shadow: 0 0 1px 1px #ECECEC;
}

.author {
    height: 510px;
    margin-bottom: 38px;
}

.popular-posts {
    height: 984px;
    margin-bottom: 38px;
}
.latest-posts {
    height: 516px;
    margin-bottom: 38px;
}
.instagram-feed {
    height: 596px;
    margin-bottom: 40px;
}


/* .author {
    background-color: aqua;
    position: relative;
    width: 200px;
    height: 200px;
} */

.bottom-images {
    position: relative;
    background-color: orange;
    height: 189px;
}

.container > footer {
    position: relative;
    background-color: purple;
    height: 65px;
}